<%- include('./includes/head', {pageTitle: 'An error Occured'}); -%>


</head>
<body>
    <%- include('./includes/header'); -%>

    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortunatelly, something went wrong - Please try again later! </p>
        <p><a href="/" class="btn">Back to safety</a></p>
        
        </form>
    </main>
    <%- include('./includes/footer'); -%>

